body {
    overflow-x: hidden;
    background: #f6f7fb;
}

.container{
    position: fixed;
    inset: 0;
    background: black;
    display: none;
    z-index: 1025;
}

.container.show{
    display: block;
}

.logo {
    width: 100%;
}