<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBE ERP</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/fontawesome.css/all.css">
</head>
<body>

    <div class="container" id="container"></div>
    <aside class="sidebar" id="sidebar">
    <div class="sb-top">
        <div class="logo">
            <i class="fa-regular fa-school"></i>
            <span class="logo_name">CBE</span>
        </div>
    </div>
    </aside>
    
</body>
</html>